<h2>User Listing</h2>

<div class="container">
    <div class="form-group row">
        <div class="col-md-6">
            <input [(ngModel)]="UserNameFilter" class="form-control" (keyup)="FilterFn()"
                placeholder="Filter by Name">
        </div>
        <div class="col-md-6" style="text-align: right;">
            <button type="button" class="btn btn-primary" routerLink="add">Add New
                User</button>
        </div>
    </div>
    <table class="table mt-3 table-bordered">
        <thead>
            <tr>
                <th class="scope">User ID</th>
                <th class="scope">UserName</th>
                <th class="scope">Password</th>
                <th class="scope">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of collection">
                <td>{{row.id}}</td>
                <td>{{row.userName}}</td>
                <td>{{row.password | passwordpipe:'*'}}</td>
                <td>
                    <fa-icon [icon]="faEdit" class="fa-3x" routerLink="update/{{row.id}}"
                        style="font-size:20px;color:blue;cursor: pointer;"></fa-icon>
                    &nbsp;&nbsp;&nbsp;
                    <fa-icon [icon]="faDelete" class="fa-3x" (click)="deleteUser(row.id)"
                        style="font-size:20px;color:red;cursor: pointer;"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /*
<div class="text-center">
    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
    <fa-icon [icon]="faEdit" class="fa-3x"></fa-icon>
    <fa-icon [icon]="faDelete" class="fa-3x"></fa-icon>
</div>
*/ -->