<div class="row">
    <div class="col-md-4">
        <h2>Items List</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemList">
                        <td>{{item.itemTypeId}}</td>
                        <td>{{item.detail}}</td>
                    </tr>
                    <tr *ngIf="itemList.length==0">
                        <span class="text-center">No Records Found</span> 
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2" style="margin-top: 100px;text-align: center;">
        <button class="btn btn-primary m-2" (click)="moveVeg()">Vegetable</button>
        <br>
        <button class="btn btn-success" (click)="moveFruit()">Fruits</button>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <h2>Vegetable List</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of vegList">
                            <td>{{item.detail}}</td>
                        </tr>
                        <tr *ngIf="vegList.length==0">
                           <span class="text-center">No Records Found</span> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Fruits List</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of fruitList">
                            <td>{{item.detail}}</td>
                        </tr>
                        <tr *ngIf="fruitList.length==0">
                           <span class="text-center">No Records Found</span> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>